@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font-color: rgb(55, 55, 55);
$ff-base:'Montserrat', sans-serif;
$fs-base:1.3vw;
$fs-max:2vw;
$fw-bold: 700;
$base-space: 1em;
$active-color: rgb(31, 100, 83);
$hover-color:rgb(24, 79, 73);